/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Common */
html {
	scroll-behavior: smooth;
  }
body {
	font-family: 'Lato', sans-serif;
	height: 100vh;
	background: linear-gradient(to bottom, #009688 0% 15%, #D8DBD5 15% 100%);
	padding: 2% 0;
}

.app-container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	background-color: #fff;
	display: flex;
}
.app-col-left, .app-col-right {
	height: 100%;
}

/* App Col Left */
.app-col-left {
	width: 30%;
}
.header-user {
	height: 4rem;
	background-color: #EAEAEA;
}
.message-notifications {
	height: 4.375rem;
	background-color: #8EDAFC;
}
.search-contact {
	height: 1.875rem;
}
.contacts {
	height: calc(100% - 10.25rem);
	overflow-y: scroll;
}

.contacts li {
	padding: .625rem 1.25rem;
	display: flex;
}
.contacts li.active {
	background-color: #E9EBEB;
}
.contact-avatar {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	overflow: hidden;
}
.contact-avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.contact-name {
	margin-left: .9375rem;
}

/* App col Right */
.app-col-right {
	width: 70%;
}
.header-contact, .send-message {
	height: 4rem;
}
.header-contact {
	background: #EAEAEA;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 .625rem;
}
.current-contact {
	display: flex;
	align-items: center;
}

.send-message {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .75rem 1.25rem;
	background-color: #F3EEEA;
}
.send-message  i {
	font-size: 1.375rem;
	color: #6B7376;
}
.input-send-message {
	padding: 0 .9375rem;
}
.input-send-message, .input-send-message input {
	height: 100%;
	width: 100%;
}
.input-send-message input {
	border: none;
	border-radius: 5px;
	padding: 0 10px;
}
.input-send-message input:focus {
	outline: none;
}
/* Message */
.message-container {
	height: calc(100% - 8rem);
	background-image: url('../img/mine.jpg');
	overflow-y: scroll;
	padding: 3.125rem;
}
.message {
	display: flex;
}
.message.sent .message-text{
	background: #D5F9BA;
	margin-left: auto;
}
.message-text {
	position: relative;
	width: 40%;
	padding: 1.25rem;
	border-radius: .625rem;
	background: #fff;
	margin-bottom: .625rem;
	word-break: break-all;
}
.message-date {
	position: absolute;
	font-size: .625rem;
	right: .1875rem;
	bottom: .1875rem;
	color: gray;
}